/* UTILS */
:root {
  --mostly-used-color: #212121;
  --second-level-color: #757575;
  --third-level-color: #eaeaea;
  --fourth-level-color: #2F303A;
  --fifth-level-color: rgba(255, 255, 255, 0.6);
  --sixth-level-color: #000000;
  --seventh-level-color: #F5F4FA;
  --eighth-level-color: #ffffff;
  --ninth-level-color: rgba(47, 48, 58, 0.8);
  --accent-color: #2196F3;
  --social-icons: #AFB1B8;
  --item-border: #EEEEEE;
  --contacts-links: rgba(117, 117, 117, 1);
  --bottom-social-icons: rgba(255, 255, 255, 0.1);
  --bg-color: #f9f9fd;
  --bg-color-two: #E5E5E5;
  --grid-item: 1;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --animation: 250ms ease-in;
  --cube-bez: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* BASE */
body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--eighth-level-color);
  background-color: var(--eighth-level-color);
  margin: 0px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* COMPONENTS */
.section-hero__order-button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  color: var(--eighth-level-color);
  line-height: 1.625;
  letter-spacing: 0.033em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.section-hero__order-button {
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--accent-color);
  -webkit-transition: var(--animation);
  transition: var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.contact-form__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-form__submit-btn {
  min-width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--eighth-level-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 32px 30px 32px;
}

.social-icons .social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icons);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--eighth-level-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.bottom-social-list {
  padding: 0px;
}

.bottom-social-list .social-icons__icon {
  fill: var(--eighth-level-color);
}

.bottom-icons-link--background {
  background-color: var(--bottom-social-icons);
}

.logo-top {
  display: inline-block;
  color: var(--sixth-level-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.logo-top:visited {
  color: var(--sixth-level-color);
}

.logo-top:active {
  color: var(--sixth-level-color);
}

.web-word-logo--color {
  color: var(--accent-color);
}

.web-word-logo--color:hover, .web-word-logo--color:focus {
  color: var(--sixth-level-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.logo-bottom {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
}

.logo-bottom-word {
  color: var(--eighth-level-color);
}

.bottom-logo-style {
  color: var(--eighth-level-color);
}

.box-logo {
  margin-right: 70px;
}

/* LAYOUTS */
.contact-one {
  margin-right: 50px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.contacts-list__item:first-child {
  margin-right: 30px;
}

.top-contact {
  color: var(--contacts-links);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-title {
  font-size: 36px;
  line-height: 1.172;
  margin-bottom: 50px;
  text-align: center;
  color: var(--mostly-used-color);
  margin-bottom: 50px;
  margin-top: 0px;
}

.gallery-item {
  --grid-item: 4;
}

.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0px;
  list-style: none;
}

.navigation__menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.menu .navigation__menu-link {
  color: var(--mostly-used-color);
}

.menu .navigation__menu-link:hover {
  color: var(--accent-color);
}

.menu .current {
  color: var(--accent-color);
}

.menu .navigation__menu-item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 28px;
  text-decoration: none;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contacts-list__email {
  color: var(--second-level-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.contacts-list__telephone {
  color: var(--second-level-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.icon-envelope {
  fill: var(--second-level-color);
  width: 16px;
  height: 12px;
}

.icon-phone {
  fill: var(--second-level-color);
  width: 10px;
  height: 16px;
}

.bottom-border {
  border-bottom: 1px solid #ECECEC;
}

.header .tel-item {
  margin-left: 50px;
}

.contacts-list__icon {
  margin-right: 10px;
}

.top-contact:hover .contacts-list__icon {
  fill: var(--accent-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.top-contact:hover,
.top-contacts:focus {
  color: var(--accent-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: block;
}

.header .logo-top {
  margin-right: 93px;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--ninth-level-color);
}

.section-hero__hero-content {
  width: calc(100% / 12 * 5);
  min-width: 696px;
}

.hero {
  background-image: url(./images/herobg.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: url(./images/herobg.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-hero {
  background-image: url(../images/herobg.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: url(../images/herobg.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero__solutions {
  color: var(--eighth-level-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.bottom-border {
  border-bottom: 1px solid #ECECEC;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}

.main-advantages {
  display: none;
  visibility: hidden;
}

h2 {
  color: var(--sixth-level-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.000;
}

.advantages__header {
  color: var(--mostly-used-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages__description {
  color: var(--second-level-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.advantages .advantage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.advantages__list > .advantages__item:not(last-child) {
  margin-right: 30px;
}

.advantages__list > .advantages__item:last-child {
  margin-right: 0px;
}

.advantages__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  pointer-events: none;
  background-color: var(--seventh-level-color);
}

.our-team {
  text-align: center;
  background-color: var(--seventh-level-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -30px;
}

.our-job {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 94px;
}

.our-job .our-job__container {
  margin-left: auto;
  margin-right: auto;
}

.our-job__container {
  text-align: center;
}

.our-job__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.our-job__item {
  position: relative;
  margin-left: 30px;
  background-color: var(--eighth-level-color);
}

.our-job__item:first-child {
  margin-left: 0px;
}

.our-job__title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  color: var(--eighth-level-color);
  background: rgba(47, 48, 58, 0.8);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__title {
  visibility: hidden;
  display: none;
}

.portfolio__buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
}

.portfolio__button {
  font-family: Roboto;
  font-weight: 500;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.033em;
  text-align: center;
  padding: 6px 22px;
}

.portfolio__button {
  background: var(--seventh-level-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio__button:hover, .portfolio__button:focus {
  background: var(--accent-color);
  color: var(--eighth-level-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.portfolio__button-link:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-set > .card-set__item {
  width: calc((100% - 60px) / 3);
  margin-bottom: var(--card-set-gap);
  margin-right: 30px;
}

.card-set > .card-set__item:nth-child(3n) {
  margin-right: 0px;
}

.card-set > .card-set__item:nth-child(1n+6) {
  margin-bottom: 0;
}

.card-set__article:hover {
  -webkit-box-shadow: var(--card-shadow);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__item > .card-set__article:hover .overlay,
.card-set__article:focus .overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid var(--item-border);
  border-bottom: 1px solid var(--item-border);
  border-left: 1px solid var(--item-border);
}

.card-content__heading {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--mostly-used-color);
}

.card-content__text {
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--second-level-color);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--eighth-level-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: var(--animation);
  transition: var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
  margin-bottom: 0px;
}

.box:hover .overlay {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.section-team {
  background-color: var(--seventh-level-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.navigation__list {
  padding-left: 0px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.item > .navigation__list {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.our-team-page {
  background-color: var(--seventh-level-color);
}

.team {
  background-color: var(--seventh-level-color);
}

.team-item {
  text-align: center;
}

.team-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.team-list > .team-list__item:first-child {
  margin-left: 0px;
}

.team-list > .team-item {
  -ms-flex-preferred-size: calc(100% / 4 - var(--card-set-gap));
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.team-list__member {
  color: var(--mostly-used-color);
  font-size: 16px;
  line-height: 1.187;
  margin-top: 0px;
  margin-bottom: 10px;
}

.team-list__member-position {
  color: var(--second-level-color);
  font-size: 16px;
  line-height: 1.187;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-list__info-pack {
  padding: 30px 30px 16px 30px;
}

.team-list__card {
  -webkit-box-shadow: var(--card-shadow);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.section-regular {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regular-list__icon {
  width: 108px;
  height: 60px;
  fill: var(--social-icons);
}

.regular-list__item {
  padding: 0px;
  margin: 0px;
}

.regular-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.regular-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.regular-list__item + .regular-list__item {
  margin-left: 30px;
}

.regular-list__link:hover, .regular-list__link:focus {
  border: 1px solid var(--accent-color);
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.regular-list__link:hover .regular-list__icon,
.regular-list__link:focus .regular-list__icon {
  fill: var(--accent-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.regular-one {
  width: 41px;
  height: 47px;
}

.regular-two {
  width: 38.5px;
  height: 34px;
}

.regular-three {
  width: 43.5px;
  height: 41.2px;
}

.regular-four {
  width: 84.5px;
  height: 40.6px;
}

.regular-five {
  width: 62.5px;
  height: 45.4px;
}

.regular-six {
  width: 93.8px;
  height: 44px;
}

.bottom-address {
  margin-top: 20px;
}

.bottom-contacts-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-contacts {
  display: block;
  padding-top: 9px;
  color: var(--fifth-level-color);
}

.footer-box {
  background-color: var(--fourth-level-color);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-join__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

/* Module Subscribe */
.box-join {
  margin-right: 93px;
}

.box-subscribe__title {
  color: var(--eighth-level-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.box-subscribe__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--eighth-level-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.box-subscribe__input::-webkit-input-placeholder {
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__input:-ms-input-placeholder {
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__input::-ms-input-placeholder {
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__input::placeholder {
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__wrapper {
  display: inline-block;
  vertical-align: middle;
}

.box-subscribe__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 62px 10px 29px;
  position: relative;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--eighth-level-color);
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.box-subscribe__icon-send {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form__title {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mostly-used-color);
}

.close-icon {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.icon-phone-modal {
  width: 13px;
  height: 13px;
}

.icon-email {
  width: 15px;
  height: 12px;
}

.icon-person {
  width: 12px;
  height: 12px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-form {
  width: 448px;
  margin-top: 30px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 28px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__input-wrapper {
  display: block;
  position: relative;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 0;
  left: 14px;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact-form__text-label {
  color: var(--second-level-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.contact-form__close-link {
  -webkit-transition: var(--animation);
  transition: var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.contact-form__input:focus + .contact-form__close-link {
  fill: var(--accent-color);
}

.contact-form__field-name {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--second-level-color);
}

.contact-form__text-field {
  padding: 14px;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  -webkit-transition: var(--animation);
  transition: var(--animation);
  -webkit-transition-timing-function: var(--cube-bez);
  transition-timing-function: var(--cube-bez);
}

.contact-form__text-field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__terms {
  text-decoration: underline;
  color: var(--accent-color);
}

.contact-form__label-policy {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contact-form__label-policy:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid var(--mostly-used-color);
  margin-right: 9px;
}

.contact-form__terms-chekcbox:checked + .contact-form__label-policy::before {
  background-color: var(--accent-color);
  background-image: url(../icons/checked.svg);
  background-size: cover;
  background-repeat: no-repeat;
  outline: 1px solid var(--accent-color);
  border: 3px solid var(--accent-color);
}

.contact-form__label-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-form__text-field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.contact-form__text-field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.contact-form__text-field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.contact-form__text-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.contact-form__terms-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.terms-text {
  color: var(--second-level-color);
}
/*# sourceMappingURL=main.css.map */