.modal__btn-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        -webkit-transition: var(--animation);
        transition: var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }
}