.social-icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0px 32px 30px 32px;

    & &__icon {
        width: 20px;
        height: 20px;
        fill: var(--social-icons);
        -webkit-transition: color var(--animation);
        transition: color var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }

    &__item + &__item {
        margin-left: 10px;
    }
}

.social-icons__link {

    & {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        -webkit-transition: background-color var(--animation);
        transition: background-color var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
}

    &:hover .social-icons__icon,
    &:focus .social-icons__icon {
        fill: var(--eighth-level-color);
        -webkit-transition: fill var(--animation);
        transition: fill var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
}
}