.bottom-address {
    margin-top: 20px;
}

.bottom-contacts-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-contacts {
    display: block;
    padding-top: 9px;
    color: var(--fifth-level-color);
}

.footer-box {
    background-color: var(--fourth-level-color);
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.box-join__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Module Subscribe */
.box-join {
    margin-right: 93px;
}

.box-subscribe__title {
    color: var(--eighth-level-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.box-subscribe__input {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: var(--eighth-level-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.box-subscribe__input::-webkit-input-placeholder {
    margin-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__input:-ms-input-placeholder {
    margin-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__input::-ms-input-placeholder {
    margin-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__input::placeholder {
    margin-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.box-subscribe__wrapper {
    display: inline-block;
    vertical-align: middle;
}

.box-subscribe__button {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 62px 10px 29px;
    position: relative;
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    color: var(--eighth-level-color);
    letter-spacing: 0.06em;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.box-subscribe__icon-send {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 18px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}