.contact-one {
    margin-right: 50px;
}

.contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.contacts-list__item:first-child {
    margin-right: 30px;
}

.top-contact {
    color: var(--contacts-links);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section-title {
    font-size: 36px;
    line-height: 1.172;
    margin-bottom: 50px;
    text-align: center;
    color: var(--mostly-used-color);
    margin-bottom: 50px;
    margin-top: 0px;
}

.gallery-item {
    --grid-item: 4;
}

.menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 0px;
    list-style: none;
}

.navigation__menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.menu .navigation__menu-link {
    color: var(--mostly-used-color);
}

.menu .navigation__menu-link:hover {
    color: var(--accent-color);
}

.menu .current {
    color: var(--accent-color);
}

.menu .navigation__menu-item {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 28px;
    text-decoration: none;
}

.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.contacts-list__email {
    color: var(--second-level-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.contacts-list__telephone {
    color: var(--second-level-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.icon-envelope {
    fill: var(--second-level-color);
    width: 16px;
    height: 12px;
}

.icon-phone {
    fill: var(--second-level-color);
    width: 10px;
    height: 16px;
}

.bottom-border {
    border-bottom: 1px solid #ECECEC;
}

.header .tel-item {
    margin-left: 50px;
}

.contacts-list__icon {
    margin-right: 10px;
}

.top-contact:hover .contacts-list__icon {
    fill: var(--accent-color);
    -webkit-transition: fill var(--animation);
    transition: fill var(--animation);
    -webkit-transition-timing-function: var(--cube-bez);
            transition-timing-function: var(--cube-bez);
}

.top-contact:hover,
.top-contacts:focus {
    color: var(--accent-color);
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
    -webkit-transition-timing-function: var(--cube-bez);
            transition-timing-function: var(--cube-bez);
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
}

.logo {
    display: block;
}

.header .logo-top {
    margin-right: 93px;
}