.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &-form__title {
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--mostly-used-color);
    }
}

.close-icon {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.icon-phone-modal {
    width: 13px;
    height: 13px;
}

.icon-email {
    width: 15px;
    height: 12px;
}

.icon-person {
    width: 12px;
    height: 12px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contact-form {
    width: 448px;
    margin-top: 30px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    &__input {
        display: block;
        width: 100%;
        height: 40px;
        padding-left: 42px;
        margin-bottom: 28px;
        margin-top: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        -webkit-transition: var(--animation);
        transition: var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }
    
    &__input:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    
    &__input-wrapper {
        display: block;
        position: relative;
    }
    
    &__icon {
        position: absolute;
        top: 50%;
        left: 0;
        left: 14px;
        pointer-events: none;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    
    &__text-label {
        color: var(--second-level-color);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }
    
    &__close-link {
        -webkit-transition: var(--animation);
        transition: var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }
    
    &__input:focus + &__close-link {
        fill: var(--accent-color);
    }
    
    &__field-name {
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.01em;
        color: var(--second-level-color);
    }

    &__text-field {
        padding: 14px;
        margin-top: 4px;
        margin-bottom: 20px;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        -webkit-transition: var(--animation);
        transition: var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }
    
    &__text-field:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    
    &__terms {
        text-decoration: underline;
        color: var(--accent-color);
    }
    
    &__label-policy {
        color: #757575;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
    
    &__label-policy:before {
        display: inline-block;
        content: "";
        width: 16px;
        height: 15px;
        outline: 1px solid var(--mostly-used-color);
        margin-right: 9px;
    }
    
    &__terms-chekcbox:checked + &__label-policy::before {
        background-color: var(--accent-color);
        background-image: url(../icons/checked.svg);
        background-size: cover;
        background-repeat: no-repeat;
        outline: 1px solid var(--accent-color);
        border: 3px solid var(--accent-color);
    }
    
    &__label-policy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    &__text-field::-webkit-input-placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }
    
    &__text-field:-ms-input-placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }
    
    &__text-field::-ms-input-placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }
    
    &__text-field::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }
    
    &__terms-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 30px;
    }
}

.terms-text {
    color: var(--second-level-color);
}