.section-team {
    background-color: var(--seventh-level-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.navigation__list {
    padding-left: 0px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;

    .item > & {
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.our-team-page {
    background-color: var(--seventh-level-color);
}

.team {
    background-color: var(--seventh-level-color);

    &-item {
        text-align: center;
    }
}

.team-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        & > &__item:first-child {
            margin-left: 0px;
        }
        
        & > .team-item {
            -ms-flex-preferred-size: calc(100% / 4 - var(--card-set-gap));
                flex-basis: calc(100% / 4 - var(--card-set-gap));
            margin-left: var(--card-set-gap);
        }
        
        &__member {
            color: var(--mostly-used-color);
            font-size: 16px;
            line-height: 1.187;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        
        &__member-position {
            color: var(--second-level-color);
            font-size: 16px;
            line-height: 1.187;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
        &__info-pack {
            padding: 30px 30px 16px 30px;
        }

        &__card {
            -webkit-box-shadow: var(--card-shadow);
                    box-shadow: var(--card-shadow);
            border-radius: 0px 0px 4px 4px;
            overflow: hidden;
        }
}