.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        visibility: hidden;
        display: none;
    }

    &__buttons-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 0px;
        margin-bottom: 50px;
        padding-left: 0px;
    }
    
}

.portfolio__button {
    font-family: Roboto;
    font-weight: 500;
    font-style: inherit;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.033em;
    text-align: center;
    padding: 6px 22px;

    & {
        background: var(--seventh-level-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    &:hover,
    &:focus {
        background: var(--accent-color);
        color: var(--eighth-level-color);
        -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        -webkit-transition: color var(--animation), background-color var(--animation);
        transition: color var(--animation), background-color var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }

    &-link:not(:last-child) {
        margin-right: 8px;
    }
    
}

.card-set {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        & > &__item {
            width: calc((100% - 60px) / 3);
            margin-bottom: var(--card-set-gap);
            margin-right: 30px;
        }
        
        & > &__item:nth-child(3n) {
            margin-right: 0px;
        }
        
        & > &__item:nth-child(1n+6) {
            margin-bottom: 0;
        }

        &__article:hover {
            -webkit-box-shadow: var(--card-shadow);
                    box-shadow: var(--card-shadow);
            border-radius: 0px 0px 4px 4px;
            overflow: hidden;
        }
        
        &__thumb {
            position: relative;
            overflow: hidden;
        }
        
        &__item > &__article:hover .overlay,
        &__article:focus .overlay {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
}

.card-content {
    padding: 20px 24px;
    border-right: 1px solid var(--item-border);
    border-bottom: 1px solid var(--item-border);
    border-left: 1px solid var(--item-border);

    &__heading {
        margin-top: 0px;
        margin-bottom: 4px;
        color: var(--mostly-used-color);
    }

    &__text {
        margin-bottom: 0px;
        margin-top: 0px;
        color: var(--second-level-color);
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--eighth-level-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: var(--animation);
    transition: var(--animation);
    -webkit-transition-timing-function: var(--cube-bez);
            transition-timing-function: var(--cube-bez);
    margin-bottom: 0px;
}

.box:hover .overlay {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}