.section-regular {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &__icon {
        width: 108px;
        height: 60px;
        fill: var(--social-icons);
    }

    &__item {
        padding: 0px;
        margin: 0px;
    }

    &__link {
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 4px;
    }
    
    &__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    &__item + &__item {
        margin-left: 30px;
    }

    &__link:hover,
    &__link:focus {
        border: 1px solid var(--accent-color);
        -webkit-transition: border var(--animation);
        transition: border var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: var(--accent-color);
        -webkit-transition: fill var(--animation);
        transition: fill var(--animation);
        -webkit-transition-timing-function: var(--cube-bez);
                transition-timing-function: var(--cube-bez);
    }
}

.regular {

    &-one {
        width: 41px;
        height: 47px;
    }
    
    &-two {
        width: 38.5px;
        height: 34px;
    }
    
    &-three {
        width: 43.5px;
        height: 41.2px;
    }
    
    &-four {
        width: 84.5px;
        height: 40.6px;
    }
    
    &-five {
        width: 62.5px;
        height: 45.4px;
    }
    
    &-six {
        width: 93.8px;
        height: 44px;
    }
}